.button {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  outline: none;
  border: none;
  width: 197.328px;
  height: 36px;
  border-radius: 4px;
  margin: 30px;
  cursor: pointer;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}