.chat {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 6rem;
  position: absolute;
  left: 206px;
}

.totalCountChat {
  background-color: #fff;
  width: 23.563rem;
  height: 11.043rem;
  padding: 25px;
  border-radius: 4px;
  margin-bottom: 30px;
  border-bottom: 3px solid rgba(93, 120, 255, 0.2);
}

.totalCountChat:last-child {
  width: 85%;
}

@media (max-width: 961px) {
  .totalCountChat {
    width: 40rem;
    height: 15rem;
  }
}

@media (max-width: 890px) {
  .totalCountChat {
    width: 30rem;
  }
}

/* 879px*/

.totalCount {
  font-weight: 600;
  font-size: 1.8rem;
  color: #646c9a;
}

.totalCountChat img {
  width: 8.125rem;
  height: 3.125rem;
}

.totalCountTitle {
  color: #74788d;
  font-size: 1.1rem;
}
