.header {
  background-color: #fff;
  width: 100%;
  height: 4rem;
}

.topNavBar {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}

.topNavBar ul {
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
}

.topNavBar ul .navItem {
  list-style-type: none;
  padding: 0.65rem 1.1rem;
}

.topNavBar li {
  font-size: 0.813rem;
  color: #6c7293;
  transition: background-color 0.3s ease-out;
}

.navItem {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.navItemPosition {
  display: flex;
  align-items: center;
}

.topbarSpan1 {
  color: #959cb6;
  font-size: 11.7px;
  font-weight: 500;
  padding-right: 7.15px;
}

.topbarSpan2 {
  color: #6c7293;
}

.topNavBar ul .navItem:hover {
  color: #5d78ff;
  background-color: rgba(77, 89, 149, 0.06);
  border-radius: 4px;
  cursor: pointer;
}

.topNavBar img {
  width: 33px;
  height: 33px;
  margin-left: 10px;
  object-fit: cover;
  border-radius: 4px;
}

.topNavbarSideLogo img {
  width: 54px;
  height: 54px;
  margin-left: 34px;
  margin-right: 34px;
}

.arrow .arrorSidebarImg {
  width: 1.5rem;
  height: 1.5rem;
}

.profileUser li {
  padding: 0 8px;
  display: flex;
  align-items: center;
}

