@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f3f8;
}

ul li {
  list-style-type: none;
}
